@import url('../../../assets/css/chillax.css');
.heading1 {
  font-family: 'Chillax-Semibold', sans-serif;
  font-size: 50px;
  line-height: 70px;
  font-weight: 600;
  margin: 0;
}

.heading2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
}

.heading3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin: 0;
}

.heading4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  color: rgba(255, 255, 255, 0.2);
  margin: 0;
}

.heading5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5B5B5B;
  margin: 0;
}

.heading6 {
  font-size: 18px;
  font-weight: 400
}
