.heading1 {
  font-size: 60px;
}

.heading2 {
  font-size: 54px;
}

.heading3 {
  font-size: 36px;
}

.heading4 {
  font-size: 32px;
}

.heading5 {
  font-size: 22px;
  font-weight: 400
}

.heading6 {
  font-size: 18px;
  font-weight: 400
}
