.input {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.input__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  background: #E9EEF8;
  padding: 25.5px 24px;
}

.input__content input {
  width: 100%;
  background: none;
  border: none;
  font-size: 16px;
  color: #5B5B5B;
  outline: none;
  padding: 0;
}
.input__content input::placeholder {
  color: #939393;
}
.input__content_true input {
  color: #b7b6b6;
}
.input__content_true input::placeholder {
  color: #b7b6b6;
}

.eye__closeEye, .eye__openEye {
  display: flex;
  align-items: center;
}

.eyeStatus_active {
  display: flex;
}

.eyeStatus_hidden {
  display: none;
}
