.signUp {
  width: 644px;
}

.signUp__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 90px;
}

.signUp__buttonCross {
    position: absolute;
    left: 610px;
    top: 50px;
}

.signUp__heading, .signUp__button, .signUp__signIn {
    display: flex;
    justify-content: center;
}

.signUp__heading {
    padding-bottom: 22px;
}

.signUp__name, .signUp__password {
    padding-bottom: 30px;
}

.signUp__repeatPassword, .signUp__button {
    padding-bottom: 50px;
}

.signUp__signIn {
    gap: 10px;
}
