.homePage__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1340px;
    margin: 0 50px;
}

.homePage__heading {
    padding-bottom: 20px;
}

.homePage__greeting {
    padding-bottom: 50px;
}

.homePage__button {
    padding-bottom: 85px;
}

.homePage__users {
    padding-bottom: 85px;
}

@media screen and (max-width: 768px) {
    .homePage__wrapper {
        margin: 0 20px;
    }
}