.bestCreators__heading {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.bestCreators__users {
    display: flex;
    gap: 38px;
    flex-wrap: wrap;
    justify-content: center;
}

.bestCreators__star {
    transform: rotate(45deg)
}