.addNewVideo__wrapper {
  display: flex;
  flex-direction: column;
  width: 644px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 69px 90px 90px;
}

.addNewVideo__heading, .addNewVideo__message, .addNewVideo__video {
  display: flex;
  justify-content: center;
}

.addNewVideo__heading, .addNewVideo__video {
  padding-bottom: 22px;
}

.addNewVideo__link, .addNewVideo__name {
  padding-bottom: 30px;
}

.addNewVideo__description, .addNewVideo__message{
  padding-bottom: 50px;
}

.addNewVideo__buttonBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.addNewVideo_notConfirmed .addNewVideo__message, .addNewVideo_notConfirmed .addNewVideo__video, .addNewVideo_notConfirmed .addNewVideo__toVideoButton{
  display: none;
}

.addNewVideo_confirmed .addNewVideo__link, .addNewVideo_confirmed .addNewVideo__name, .addNewVideo_confirmed .addNewVideo__description, .addNewVideo_confirmed .addNewVideo__buttonCansel, .addNewVideo_confirmed .addNewVideo__button {
  display: none;
}
