.descriptionForm{
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.descriptionForm__textForm{
  display: block;
  width: 100%;
  border-radius: 14px;
  background: #E9EEF8;
  padding: 23px 24px;
  border: none;
  resize: none;
  font-size: 16px;
  color: #5B5B5B;
  font-family: "Plus Jakarta Display", sans-serif;
  font-weight: 400;
  line-height: 22px;
  box-sizing: border-box;
  overflow: hidden;
}
.descriptionForm__textForm_true{
  color: #b7b6b6;
}
.descriptionForm__textForm:focus{
  outline: none;
}
.descriptionForm__textForm textarea::-webkit-input-placeholder {
  color: #939393;
}

.descriptionForm__textForm textarea:-moz-placeholder { /* Firefox 18- */
  color: #939393;
}

.descriptionForm__textForm textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #939393;
}

.descriptionForm__textForm textarea:-ms-input-placeholder {
  color: #939393;
}

.descriptionForm__textForm textarea::placeholder {
  color: #939393;
}
