.buttonInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 84px;
  background: #e2e2e2;
}

.buttonInput__input {
  flex-grow: 1;
  padding: 15px 20px;
}

.buttonInput__input input {
  width: 100%;
  background: none;
  border: none;
  font-size: 16px;
  color: #4A4847;
  outline: none;
}

.buttonInput__button {
  display: flex;
  justify-content: flex-end;
  min-width: 125px;
}
