@media screen and (max-width: 992px) {

  .header {
    height: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
    gap: 40px;
  }

  .header_mobileOpen {
    position: fixed;
    z-index: 101;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background: #F5F0EB;
  }

  .header__logo, .header__controls {
    order: -1;
    height: 25px;
  }

  .header__nav,
  .header__subNav {
    width: 100%;
  }

  .headerNav {
    flex-direction: column;
    gap: 24px;
  }

  .headerNav__link {
    font-size: 30px;
    font-weight: 300;
    text-transform: unset;
  }

  .headerSubNav {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .headerSubNav__link {
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
  }

  .headerSubNav__select {
    max-width: 200px;
  }

  .header__social {}
  .headerSocial {
    display: flex;
    gap: 32px;
  }
}
