.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 24px 50px;
}

.header__logo {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.header__logo a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__logo img {
  height: 100%;
}

.header__nav {}

.header__controls {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerNav {
  display: flex;
  gap: 32px;
}

.headerNav__link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.headerControls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.headerControls__button:hover {
  cursor: pointer;
}

.headerControls__select {
  min-width: 160px;
}
